
// nav item, with active clsss if current url is matching
mixin navElement(url, text, icon)
	- var urlPath = url
	- if (urlPath.substring(0, 1) == "#") urlPath = urlPath.substring(1, urlPath.length) 
	li(class="{{path.indexOf('#{urlPath}') > -1 ? 'active' : ''}}")
		a(href=url)
			- if (icon != undefined){
				span(class="glyphicon #{icon}" aria-hidden="true")
				|  #{text}
			- } else {
				| #{text}
			- }


// Generate table header colum with order arrow
mixin tableHeader(title, varName)
	th(ng-click="changeOrder('#{varName}')")
		span(class="glyphicon glyphicon-arrow-up" aria-hidden="true" ng-hide="store.selectedOrder.field != '#{varName}' || store.selectedOrder.dir == false")
		span(class="glyphicon glyphicon-arrow-down" aria-hidden="true" ng-hide="store.selectedOrder.field != '#{varName}' || store.selectedOrder.dir")
		|  #{title}
