extends index.jade

block stand
	script.
		var socket = io("//#{stand.ip}:#{stand.port}")
		
		var session
		socket.on('setSession', function(newSession){
			console.log(newSession)
			session = newSession
			setUpDisziplinen()
			setUpParts()
		});
		var config
		socket.on('setConfig', function(c){
			console.log(c)
			config = c
			setUpDisziplinen()
		});
		socket.on('newShot', function(shot){
			//console.log(shot)
		});
		
		
		var schuetzen = !{JSON.stringify(schuetzen)}
		
		
		function setUpDisziplinen(){
			if (config && session){
				var disziplinen = config.disziplinen
				
				$(".stand .disziplin").html("")
				for(var key in disziplinen){
					var disziplin = disziplinen[key]
					$(".stand .disziplin").append("<option value='"+key+"'>"+disziplin.title+"</option>")
				}
				
				$(".stand .disziplin").val(session.disziplin._id).trigger("change")
			}
		}
		function setUpParts(){
			if (session){
				var disziplin = session.disziplin
				$(".stand .part").html("")
				for(var i in disziplin.partsOrder){
					var key = disziplin.partsOrder[i]
					var part = disziplin.parts[key]
					console.log(part)
					$(".stand .part").append("<option value='"+key+"'>"+part.title+"</option>")
				}
				
				$(".stand .part").val(session.type).trigger("change")
			}
		}
		
		
		function sendDisziplin(){
			var disziplin = $('.stand .disziplin option:selected').val();
			socket.emit('setDisziplin', disziplin)
		}
		function sendPart(){
			var part = $('.stand .part option:selected').val();
			socket.emit('switchToPart', part)
		}
		function sendSchuetze(){
			var schuetzeID = $('.stand .schuetze option:selected').val();
			
			for (var i in schuetzen){
				var schuetze = schuetzen[i]
				if (schuetze._id == schuetzeID){
					socket.emit('setUser', schuetze)
					break
				}
			}
		}
		function setPower(value){
			dsmSocket.emit('setPower', {
				state: value,
				stand: "#{stand._id}",
			})
		}
		
		
		dsmSocket.on('setStatus', function(object){
			if (object.stand._id == "#{stand._id}"){
				console.log(object)
				if (object.alive == true){
					$(".power").removeClass("panel-danger")
					$(".power").addClass("panel-primary")
					
					$(".power .panel-heading").text("Online")
				}
				else {
					$(".power").addClass("panel-danger")
					$(".power").removeClass("panel-primary")
					
					$(".power .panel-heading").text("Offline")
				}
			}
		})
		
		
		
		
		
		
	
	div(class="stand")
		.col-xs-12
			div(class="panel panel-danger power")
				div(class="panel-heading") Offline
				div(class="panel-body")
					div(class="form-horizontal")
						input(type="submit" class="btn btn-danger pull-left" value="Herunterfahren" onclick="setPower(false)")
						p(class="status")
						input(type="submit" class="btn btn-primary pull-right" value="Hochfahren" onclick="setPower(true)")
						
		.col-xs-6
			div(class="panel panel-default")
				div(class="panel-heading") Disziplin
				div(class="panel-body")
					div(class="form-horizontal")
						+inputSelect("disziplin", [], false, "Disziplin")
						input(type="submit" class="btn btn-primary pull-right" onclick="sendDisziplin()")
					
		.col-xs-6
			div(class="panel panel-default")
				div(class="panel-heading") Part
				div(class="panel-body")
					div(class="form-horizontal")
						+inputSelect("part", [], false, "Part")
						input(type="submit" class="btn btn-primary pull-right" onclick="sendPart()")
				
		.col-xs-6
			div(class="panel panel-default")
				div(class="panel-heading") Schütze
				div(class="panel-body")
					div(class="form-horizontal")
						- var optionSchuetze = []
						- schuetzen.forEach(function(schuetze){ optionSchuetze.push({id: schuetze._id, title: schuetze.vorname + " " + schuetze.name}) })
						+inputSelect("schuetze", optionSchuetze, false, "Schütze")
					
						input(type="submit" class="btn btn-primary pull-right" onclick="sendSchuetze()")
						//a(href="../delete/" class="btn btn-default pull-left") Gast
		
		.col-xs-6
			div(class="panel panel-default")
				div(class="panel-heading") Aktionen
				div(class="panel-body")
					//a(href="../delete/" class="btn btn-default pull-left") Neue Scheibe
					//a(href="../delete/" class="btn btn-success pull-left") Match
					//a(href="../delete/" class="btn btn-default pull-left") History
			
		
