extends ../index.jade

block title
	| Schützen

block main
	div(ng-app="dsm.conrtollers.stammdaten" ng-controller="mainCtrl")
		h1
			block title
			
		ul(class="nav nav-tabs")
			li(class="active")
				a
					span(class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true")
					|  Übersicht
			
		a(href="./edit/new" class="btn btn-primary")
			span(class="glyphicon glyphicon-plus" aria-hidden="true")
			|  Neu
		table(datatable="" dt-options="dtOptions" class="table table-hover table-striped")
			thead
				tr
					th Vorname
					th Name
					th Passnummer
					th Verein
					th(class="sizeCoulumToFit")
			tbody
				- schuetzen.forEach(function(schuetze){
					tr
						td #{schuetze.firstName}
						td #{schuetze.lastName}
						td #{schuetze.passnummer}
						td #{schuetze.verein}
						td(class="sizeCoulumToFit")
							a(href="./edit/#{schuetze.id}")
								//- button(type="button" ng-click="showCase.modifyPerson($index)" class="btn btn-warning")
								span(class="glyphicon glyphicon-pencil" aria-hidden="true")
							a(href="./delete/#{schuetze.id}")
								//- button(type="button" ng-click="showCase.removePerson($index)" class="btn btn-danger")
								span(class="glyphicon glyphicon-trash" aria-hidden="true")
						
				- })
			tfoot
				tr
					th ID
					th First Name
					th Last Name
	
	script.
		angular.module("dsm.conrtollers.stammdaten", [
			'datatables', 'datatables.bootstrap',
		])
		.controller('mainCtrl', function($scope, DTOptionsBuilder) {
			$scope.dtOptions = DTOptionsBuilder.newOptions().withBootstrap()
			
		})
		
		
		
